@font-face {
  font-family: nunito;
  src: url("nunito/Nunito-Regular.ttf");
}


body {
  background-color: black;
  color: #c4c4c4;
  font-family: nunito;
  margin: 0px;
}

#container{
  display: flex;
}

#chat-header{
  background-color: #0c182c;
  margin-top: 0px;
  height: 60px;

}

#video-container{
  background-color: black;
  width: 1280px;
  height: 100vh;
}

#chat-container{
  width: 300px;
  height: 100vh;
  background-color: #252d3b;
}

#chat-title{
  font-weight: bolder;
  width: 299px;
  text-align: center;
  font-size: 20px;
}

.circle{
  clip-path: circle(50% at 50% 50%);
  -webkit-clip-path: circle(50% at 50% 50%);
}



#room-icon{
  width: 50px;
  float: left;
}

#status{
  width: 100%;
  text-align: center;
  margin-top: 5px;
  color: orange;
  font-style: italic;
  font-size: 12px;
}

#chat-box{
  margin-top: 20px;
  margin-left: 10px;
  color: white;
}
-webkit-scrollbar { width: 0 !important }

#chat-box{
  overflow-y: scroll;
  height: calc(100vh - 100px);
  -ms-overflow-style: none; 
}

p{
  margin-left: 35px;
  margin-top: 0px;
  margin-bottom: 5px;
  width: 225px;
}

.your{
  opacity: .7;
}

.chat{
  margin-bottom: 30px;
}

.chat-icon{
  width: 30px;
  margin-right: 5px;
}

.chat-header{
  font-weight: bolder;
  display: inline-block;
  vertical-align: top;
}

.name{
  display: inline-block;
}

.timestamp{
  display: inline-block;
  margin-left: 10px;
}

video{
  width:100%;

}